<div class="backdrop is-hidden">
  <div class="modal">
    <section class="modal-body">
      <img src="{{posterImage}}" alt="Poster Image" class="poster">

      <section class="modal-content">
        <h2>INFO</h2>
        <p>{{eventInfo}}</p>
        <h2>WHEN</h2>
        <p>{{eventDate}}<br>{{eventTime}} ({{eventLocation}})</p>
        <h2>WHERE</h2>
        <p>{{eventCity}}, {{eventCountry}}<br>{{eventVenue}}</p>
        <h2>WHO</h2>
        <p>{{eventArtists}}</p>
        <h2>PRICES</h2>
        <p>{{priceStandard}}</p>
        <button>BUY TICKETS</button>
        <p>{{priceVIP}}</p>
        <button>BUY TICKETS</button>
        <button class="more-button">MORE FROM THIS AUTHOR</button>
      </section>
    </section>
    <script src="script.js"></script>
  </div>
</div>
